.hero{
    &::after{
        content: url();
        background: #DFDFDF;
        mix-blend-mode: normal;
        opacity: 0.5;
        border-radius: 297px 297px 297px 0px;
        width: 1006px;
        padding-top: 594px;
        position: absolute;
        margin-top: -320px;
        z-index: -1;
        margin: auto;
    }
    &__container{
        display: flex;
        justify-content: space-between;
    }
    &__background{
        background: rgba(231, 129, 107, 1);
        width: 1111px;
        height: 640px;
        position: relative;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        margin-top: 70px;
    }
    &__all{
        position: absolute;
    }
    &__left{
        margin-left: 95px;
    }
    &__suptext{
        color: #FFFFFF;
        margin-top: 210px;
    }
    &__text{
        color: #FFFFFF;
    }
    &__button{
        margin-top: 40px;
    }
    &__button-text{
        color: rgba(51, 49, 54, 1);
        padding-left: 24px;
        padding-right: 25px;
        padding-top: 16px;
        padding-bottom: 18px;
        background-color: #FFFFFF;
        border-radius: 8px;
        font-family: 'Jost', sans-serif;
        font-size: 15px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 1px;
        text-align: left;
        &:hover{
            color: rgba(255, 255, 255, 1);
            background: #FFAD9B;
        }
    }
    &__right{
        margin-top: -321px;
        margin-left: 895px;
    }
    &__image{
        background-image: url(../home/images/phone.svg);
        background-repeat: no-repeat;
        width: 340px;
        height: 501px;
        position: relative;
        margin-top: 12px;
        margin-left: -222px;
        &::after{
            content: url();
            background: linear-gradient(90deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
            mix-blend-mode: normal;
            opacity: 0.31;
            transform: matrix(0, -1, -1, 0, 0, 0);
            position: absolute;
            width: 640px;
            height: 640px;
            margin-top: -140px;
            margin-left: -205px;
            border-radius: 1000px;
        }
    }
}