.main{
    margin-top: 160px;
    &__list{
        display: flex;
    }
    &__item{
        + .main__item{
            text-align: center;
            margin-left: -7px;
        }
        
    }
    &__picture-place-left{
        margin-left: 70px;
    }
    &__suptext-left{
        margin-top: 48px;
        position: relative;
        text-align: center;
        &::before{
            content: url();
            background: linear-gradient(90deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
            mix-blend-mode: normal;
            opacity: 0.2;
            transform: matrix(-1, 0, 0, 1, 0, 0);
            width: 202px;
            height: 202px;
            margin-top: -250px;
            margin-right: 100px;
            margin-left: -17px;
            position: absolute;
            border-radius: 1000px;
            z-index: -1;
        }
    }
    &__text-left{
        margin-top: 32px;
        text-align: center;
    }
    &__center{
        margin: 32px;
    }
    &__picture-center-place{
        margin-top: -30px;
    }
    &__suptext-center{
        margin-top: 48px;
    }
    &__text-center{
        margin-top: 32px;
    }
    &__right{
        margin-top: 75px;
    }
}